/* ------------------------------------------- */
/*           NOTEBOOK Y MONITORES              */
/* ------------------------------------------- */

@media screen and (min-width: 1201px) {

    .contenedor .contenedor_nav {
        height: 100px;
    }

    .contenedor .contenedor_nav .nav_element_izq {
        margin-left: 4vw;
    }

    .contenedor .contenedor_nav .nav_element_izq h2 {
        font-size: 16px;
    }

    .contenedor .contenedor_nav .nav_element_links {
        /* border: 1px dashed blue; */
        display: flex;
        margin-right: 4vw;
    }

    .contenedor .contenedor_nav .nav_element_links .nav_element_links_a {
        margin: 7px 0px 7px 35px;
        font-family: helvetica, sans-serif;
        text-decoration: none;
        color: #1d1c1c;
        font-size: 1.8rem;
        font-weight: bold;
    }
}