/* ------------------------------------------- */
/*           NOTEBOOK Y MONITORES              */
/* ------------------------------------------- */

@media screen and (min-width: 1201px) {
    
    .contenedor .contenedor_nav .nav_element_der {
        border: 3px solid rgb(0, 255, 60);
    }

  }