@media screen and (min-width: 1025px) {

    .contenedor .contenedor_nav {
        height: 85px;
    }

    .contenedor .contenedor_nav .nav_element_der {
        display: none;
    }

    .contenedor .contenedor_nav .nav_element_izq {
        margin-left: 2vw;
    }

    .contenedor .contenedor_nav .nav_element_izq figure img {
        width: 70px;
    }

    .contenedor .contenedor_nav .nav_element_izq h2 {
        font-size: 13px;
    }

    .contenedor .contenedor_nav .nav_element_links {
        /* border: 1px dashed blue; */
        display: flex;
        margin-right: 3vw;
    }

    .contenedor .contenedor_nav .nav_element_links .nav_element_links_a {
        height: 40px;
        margin: 0px 0px 0px 9px;
    }

    .contenedor .cuerpo {
        height: calc(100vh - 95px);
    }

    .contenedor .cuerpo .cuerpo_elementos {
        height: 93%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .contenedor .cuerpo .cuerpo_elementos .cuerpo_elementos_logo {
        width: 60%;
        height: 60%;
    }

    .contenedor .cuerpo .cuerpo_elementos .cuerpo_elementos_cuadro {
        height: 60%;
        justify-content: flex-start;
    }

    .contenedor .cuerpo .cuerpo_elementos .cuerpo_elementos_cuadro .cuerpo_elementos_cuadro_items {
        width: 15rem;
        height: 10rem;
        margin: 10px;
    }

}