@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $blanco;
}

// Compilador principal - movil first
// ------------------------------------------------------
// sass --watch scss/compilador.scss css/movil.css
// ------------------------------------------------------

//--------------------------------------------
//     BARRA DE NAVEGACIÓN
//--------------------------------------------

.contenedor {
    // border: 1px dashed red;
    height: 100vh;
    padding: 5px;
    background: linear-gradient(to bottom, #ff8c00, #d73900);

    .contenedor_nav {
        // border: 1px dashed blue;
        background-color: $blanco;
        height: 70px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .contenedor_nav_element {
            // border: 1px dashed green;
            margin-left: 15px;
        }

        .nav_element_izq {
            // border: 1px dashed blue;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 15px;

            figure {
                // border: 1px dashed orangered;
                margin: 0;

                img {
                    // border: 1px dashed black;
                    width: 50px;
                }
            }

            h2 {
                // border: 1px dashed black;
                color: $negro;
                font-family: helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0pt;
                word-spacing: 0pt;
                line-height: 1;
                margin: 0 0 0 10px;
            }
        }

        .nav_element_der {
            // border: 1px dashed red;
            margin-right: 20px;

            .nav_menu {
                // background-color: rgb(0, 217, 255);
                // border: 1px dashed purple;
                background-color: $blanco;
                border: 1px solid $gris_claro;
                
                img {
                    width: 30px;
                }
            }
        }

        .offcanvas_contenedor {
            // border: 1px dashed blue;
            width: 70vw;

            .offcanvas-header {
                // background-color: green;
                padding: 10px 15px;

                .titulo_offcanvas {
                    // border: 1px dashed black;
                    color: $gris_claro;
                    font-family: helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0pt;
                    word-spacing: 0pt;
                    line-height: 1;
                    margin: 0 0 0 15px;
                }

                .btn_menu_cerrar {
                    // border: 1px dashed red;
                    border: none;
                    background-color: $blanco;
                    padding: 15px;
                    width: 50px;
                    height: 50px;
    
                    img {
                        width: 100%;
                    }
                }

            }

            .offcanvas-body {
                // border: 1px dashed brown;
                margin: 0px 20px;
                padding: 0;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .offcanvas_link {
                    // border: 1px dashed blue;
                    border-radius: 4px;
                    width: 100%;
                    padding: 15px;
                    margin: 10px 0px;

                    font-family: helvetica, sans-serif;
                    text-decoration: none;
                    color: $negro;
                    font-size: 14px;
                    font-weight: bold;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                .offcanvas_link:hover {
                    background-color: $rosa_links;
                    transition: background-color 0.3s;
                }
            }

            
        }

        .nav_element_links {
            // border: 1px dashed blue;
            margin-right: 15px;
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .nav_element_links_a {
                // background-color: rgba(128, 0, 113, 0.227);
                // border: 1px dashed brown;
                border-radius: 4px;
                height: 35px;
                padding: 10px;
                margin: 0px 0px 0px 7px;
                
                font-family: helvetica, sans-serif;
                text-decoration: none;
                color: $negro;
                font-size: 1.4rem;
                font-weight: bold;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .nav_element_links_a:hover {
                background-color: $rosa_links;
                transition: background-color 0.3s;
            }

        }

    }

}