@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $blanco;
}

// Compilador principal - movil first
// ------------------------------------------------------
// sass --watch scss/compilador.scss css/movil.css
// ------------------------------------------------------

//--------------------------------------------
//     ENCABEZADO
//--------------------------------------------

.contenedor {
    // border: 1px dashed red;
    height: 100vh;
    padding: 5px;
    background: linear-gradient(to bottom, #ff8c00, #d73900);

    .contenedor_nav {
        // border: 1px dashed blue;
        background-color: $blanco;
        height: 70px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .contenedor_nav_element {
            // border: 1px dashed green;
            margin-left: 15px;
        }

        .nav_element_izq {
            // border: 1px dashed blue;
            display: flex;
            flex-direction: row;
            align-items: center;


            figure {
                // border: 1px dashed orangered;
                margin: 0;

                img {
                    // border: 1px dashed black;
                    width: 50px;
                }
            }

            h2 {
                // border: 1px dashed black;
                font-family: helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0pt;
                word-spacing: 0pt;
                line-height: 1;
                margin: 0 0 0 10px;
            }
        }

        .nav_element_der {
            border: 1px dashed red;
            margin-right: 15px;

            .nav_menu {
                background-color: rgb(0, 217, 255);
            }
        }
    }

}