//--------------------------------------------
//    PALETA DE COLORES
//--------------------------------------------

$blanco: rgb(255, 255, 255);
$negro:rgb(29, 28, 28);
$gris_claro: rgb(175, 175, 175);
$rosa_links: rgba(255, 0, 72, 0.268);

//--------------------------------------------
//    fUENTES
//--------------------------------------------

$parrafos: 'Cairo', sans-serif;
$titulos: 'Bebas Neue', cursive;

$titulo_size: 80px;
$subtitulo_size: 20px;
$parrafo_size: 16px;